{% if site.data.settings.tag.enable == true and site.data.settings.tag.tag__name != null %}
{% assign recommended_tag = site.data.settings.tag.tag__name | downcase %}
<!-- begin section-tags -->
<section class="section selection-tags">
  <div class="container">
    <!-- ALL TAGS -->
    <div class="row">
      {% if site.tags.size >= 1 %}
      <div class="search-tags">
        <h3 class="section__title">All tags for a quick search</h3>
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% assign tag_words = site_tags | split:',' | sort %}
        <div class="search-tags__inner">
        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
          <a href="{{ site.baseurl }}/tags/?tag={{ this_word | cgi_escape }}" class="search-tag">{{ this_word }}</a>
        {% endunless %}
        {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- end section-tags -->
{% endif %}