.smallImage{
    max-height: 50px;
  }

.smallerImage{
    max-height: 125px;
  }

.mediumImage{
    max-height: 250px;
  }

.largerImage{
    max-height: 450px;
  }

.largeImage{
    max-height: 600px;
  }